body {
	font-family: 'Open Sans', sans-serif;
	word-spacing:5px;
	font-size:18px;
	max-width:90%;
	margin:0 auto;
	background:-webkit-radial-gradient(top left, circle, #C1D4E8, #77ABDB);
	background:-moz-radial-gradient(top left, circle, #C1D4E8, #77ABDB);
	background:-ms radial-gradient(top left, circle, #C1D4E8, #77ABDB);
		background-image: url(Images/sky.jpg);
		background-repeat: no-repeat;
	background-size:cover;
	background-position:bottm right;
	;
}
a{
    text-decoration:none;
    color:#0000FF;
}
a:hover{
    text-decoration:underline;
}

a:visited{
    color: #800080;
}
q{
	display: block;
	max-width:50%;
	margin:80px auto;
	quotes:"\0022" "\0022";

	padding:30px;
	background-color:#d9d9d9;
	border-left:3px dashed #8c8c8c;
}
q:before{
    content: open-quote;
   font-size:160%;

}
q:after{
    content: close-quote;
   font-size:160%;

}
blockquote{

    max-width:50%;
    margin:80px auto;
    padding:30px;
    background-color:#d9d9d9;
    border-left:3px dashed #8c8c8c;
    quotes:"\0022" "\0022" ;

}


blockquote:before{
    content: open-quote;
   font-size:160%;

}
blockquote:after{
    content: close-quote;
   font-size:160%;

}
blockquote p {
  display: inline;
}
.villagers{
	border-left:3px dashed #1687ED;
}
.farmer{
	border-left:3px dashed #56A1B0;
}
header p{
	background-color: #ffdf00;
	background-clip: content-box;
}
.good, .bad{
	text-transform: capitalize;
}
.bad{
	color:red;
}
.good{
	color:green;
}
tr:nth-of-type(odd){
	background-color: grey;
}
tr:nth-of-type(even){
	background-color: white;
}
table{
	border-collapse: collapse;
}
li:first-child{
	list-style-image: url(Images/like.png);
}
li:nth-child(2){
	list-style-image:url(Images/dislike.png);
}
li:nth-child(3){
	list-style-image:url(Images/cat.png);

}
ul {
  list-style-type: none;
list-style-position:inside;
}

p:first-of-type{
	font-style:italic;
}
img{
	max-width: 50%;
	float: left;
	margin: 20px ;

}
